.button {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 0, 0, .8);
    color: #9e2736;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}

.button:first-of-type {
    margin-left: 0;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

.container {
    display: flex;
    margin: 10px 0;
}